/* Users Page Styles */
.users-container {
    background-color: #040504;
    border-radius: 8px;
    padding: 20px; 
    margin-top: 70px; 
    color: #ffffff; 
}

.user-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #1369eb; 
    margin: 5px 0;
    background-color: #deee99; 
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
}

.user-item:hover {
    background-color: #2935e4; 
    transform: translateY(-2px); 
}
